//Search Input on top
.header {
    &__search {
        .headerButton {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 15px;
            cursor: pointer;
            margin-top: 8px;
            position: relative;
            top: 15px;
        }
        input {
            text-rendering: auto;
            color: -internal-light-dark(black, white);
            letter-spacing: normal;
            word-spacing: normal;
            text-transform: none;
            text-indent: 0px;
            text-shadow: none;
            display: inline-block;
            text-align: start;
            appearance: auto;
            // background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
            width: 150px;            
            cursor: text;
            margin: 0em;
            font: 400 13.3333px Arial;
        }
        .inputGroup {
            // display: none;
            // .searchGroup {
            //     display: none;
                .search-input {
                    .search {
                        background: #e9ecef !important;
                        margin-top: 15px;
                    }
                    .closeSearch {
                        background: #e9ecef !important;
                    }
                }
            // }
        }
        .search-input {
            padding-left: 2rem;
            line-height: 1.7;
            border-radius: 50rem;
            height: calc(1.5em + .625rem + -8px);
            padding: .3125rem 1rem;
            font-size: 1rem;
            font-weight: 400;
            color: #344050;
            width: 75%;  
            background: #e9ecef;
            // background-clip: padding-box;
            border: 1px solid #d8e2ef;
            min-width: 246px;
            &:focus {
                color: #344050;
                background-color: #fff;
                border-color: #9ec2f3;
                outline: 0;
                -webkit-box-shadow: 0 0 0 0.2rem rgb(44 123 229 / 25%);
                box-shadow: 0 0 0 0.2rem rgb(44 123 229 / 25%);
            }
        }
    }
}

.headerSearchButton {
    padding-left: 0px;
}

.search-input {
    transform: translateX(-100px);
    transition: transform .25s , opacity .25s ease-in-out ;
    width: 5%;
    opacity: 0;
    visibility: hidden;
    &.active {
        width: 175%;
        opacity: 1;
        visibility: visible;
        transform: translateX(0px);

    }
}

.container {
    .content-wrapper {
        .content {
            .contentHeader {
                .mobileNavBar {
                    .inputGroup {
                        .searchGroup {
                            img.search1 {
                                padding: -1px;
                                border: 1px solid black;
                                height: 21px;
                                margin-left: 270px;
                                margin-bottom: -5px;
                            }
                            img.closeSearch {
                                border: 1px solid black;
                                height: 21px;
                                margin-left: 290px;
                                position: absolute;
                                margin-top: -22px;
                            }
                        }
                    }
                }
            }
        }
    }
 }

