//grid-main

.col-2-R { 
  width: 16.66%;
}

.rightMenu { 
  width: 35%;
  float: left;
  padding: 0px;
}

.mainTable { 
  width: 62%;
  float: left;
  padding: 0px;
}

.container-fluid {
  width: 100%;
  padding-right: 7.5px;
  padding-left: 7.5px;
  margin-right: auto;
  margin-left: auto;
}
