#sidebar-wrapper {
    overflow: hidden;
    width: 340px;
    box-sizing: border-box;
    word-wrap: break-word;
    padding: 0;
    min-width: 248px;
    width: 100%;
}

.rightMenu {
    .widget {
        position: relative;
        overflow: hidden;
        padding: 20px;
        background: #fff;
        border: solid 1px #ebebeb;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        box-sizing: border-box;
        margin: 0 0 35px;
    }
}

.section,
.widget,
.widget ul {
    margin: 0;
    padding: 0;
}
a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
var {
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: 0 0;
    text-decoration: none;
}
.sidebar {
    .widget-title {
        position: relative;
        float: left;
        width: 100%;
        margin: 0;
    }
}
.sidebar {
    .widget-title {
        cursor: move;
        > h3 {
            position: relative;
            display: block;
            height: 34px;
            font-size: 17px;
            color: #203656;
            font-weight: 600;
            line-height: 34px;
            padding: 0;
            margin: 0;
            float: left;
            border-bottom: 2px solid #f2f2f6;
        }
        .cart-header-btn {
            display: flex;
            flex-direction: row;
            justify-content: right;
        }
    }
    .card-calender {
        background: #28a745 linear-gradient(
            180deg,#48b461,#28a745) repeat-x!important;
        color: #fff;
        .card-calender-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .previous-month , .next-month ,.name-month{
                cursor: pointer;
                width: 10%;
                opacity: .8;
                height: 28px;
                text-align: center;
                &:hover {
                    opacity: .5;
                    background: rgb(22, 128, 57);
                    border-radius: 5px;
                }
            }
            .name-month {
                width: 70%;
            }
        }
    }
}
.rightMenu {
    .widget-content {
        float: left;
        width: 100%;
        box-sizing: border-box;
        padding: 15px 0;
        margin: 0;
        .widget-content-body {
            .direct-chat-msg {
                margin-bottom: 10px !important;
                &.right {
                    .direct-chat-img {
                        float: right;
                    }
                    .direct-chat-text {
                        background: #007bff;
                        color: cornsilk;
                        margin-left: 0;
                        margin-right: 50px;
                        &::after , &::before {
                            border-width: 6px;
                            margin-top: -6px;
                            border: 5px solid transparent;
                            border-left-color: #007bff;
                            content: " ";
                            height: 0;
                            pointer-events: none;
                            position: absolute;
                            left: 100%;
                            top: 17px;
                            width: 0;
                        }
                    }
                }
                .direct-chat-infos {
                    display: block;
                    font-size: 15px;
                    margin-bottom: 2px;
                    &::after {
                        display: block;
                        clear: both;
                        content: "";
                    }
                    .direct-chat-name {
                        font-weight: 600;
                    }
                    .float-left {
                        float: left;
                    }
                    .float-right {
                        float: right;
                    }
                    .direct-chat-times {
                        color: #697582;
                    }
                }
                .direct-chat-img {
                    float: left;
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                }
                .direct-chat-text {
                    margin: 10px 0 0 55px;
                    background: gainsboro;
                    border-radius: 5px;
                    position: relative;
                    padding: 5px 10px;
                    &::before,
                    &::after {
                        border-width: 6px;
                        margin-top: -6px;
                        border: 5px solid transparent;
                        border-right-color: #d2d6de;
                        content: " ";
                        height: 0;
                        pointer-events: none;
                        position: absolute;
                        right: 100%;
                        top: 17px;
                        width: 0;
                    }
                }
            }
        }
        .post {
            overflow: hidden;
            padding: 15px 0 0;
            margin: 15px 0 0;
            border-top: 1px dotted #ebebf3;
            .post-content {
                .post-image-link {
                    position: relative;
                    width: 75px;
                    height: 60px;
                    float: left;
                    overflow: hidden;
                    display: block;
                    margin: 0 12px 0 0;
                    border-radius: 3px;
                    .post-thumb {
                        display: block;
                        position: relative;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        transition: opacity 0.17s ease, transform 0.17s ease;
                    }
                }
                .post-info {
                    .post-title {
                        a {
                            display: block;
                            color: #203656;
                            transition: color 0.17s;
                            font-size: 15px;
                            font-weight: 400;
                            line-height: 1.5em;
                            &:hover {
                                color: orange;
                            }
                        }
                    }
                }
            }
        }
    }
}
ul {
    &.social-counter {
        margin: 0 -5px;
        list-style-position: inside;
        font-weight: 400;
        list-style: none;
    }
}

.social-counter {
    li {
        float: left;
        width: 20%;
        box-sizing: border-box;
        padding: 0 5px;
        margin: 10px 0 0;
    }
}

.social-color {
    li {
        opacity: 1;
        &:hover {
            opacity: 0.5;
            transition: opacity 0.17s;
        }
    }
    .facebook {
        a {
            background-color: #3b5999;
        }
    }
    .twitter {
        a {
            background-color: #00acee;
        }
    }
    .linkedin {
        a {
            background-color: #0077b5;
        }
    }
    .reddit {
        a {
            background-color: #ff4500;
        }
    }
    .pinterest {
        a {
            background-color: #ca2127;
        }
    }
    .vk {
        a {
            background-color: #4a76a8;
        }
    }
    .instagram {
        a {
            background: linear-gradient(15deg, #ffb13d, #dd277b, #4d5ed4);
        }
    }
    .youtube {
        a {
            background-color: #db4a39;
        }
    }
    .whatsapp {
        a {
            background-color: #3fbb50;
        }
    }
    .rss {
        a {
            background-color: #ffc200;
        }
    }
}

.social-counter {
    li {
        a {
            display: block;
            height: 40px;
            font-size: 22px;
            color: #fff;
            text-align: center;
            line-height: 40px;
            border-radius: 2px;
            transition: opacity 0.17s;
        }
    }
}
