:root {
    --bs-font-sans-serif: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    body {
        font-family: var(--bs-font-sans-serif);
        width: 100%;
        min-height: 100vh;
        font-size: 1rem;
        overflow: hidden;
        line-height: 1.5;
        font-weight: 400;
        color: #212529;
        text-align: left;
    }
}

.container {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    &.active {
        overflow-x: hidden;
    }
    .mobileNavBar {
        padding: 16px 29px;
        .headerButtons {
            display: flex;
            flex-direction: row;
        }
        .inputGroup {
            display: none;
        }
        .headerButtons {
            .headerMobileOpenMainMenu {
                display: none;
            }
            .headerExpandBlackScreen {
                display: none;
            }
        }
    }
    .content-wrapper {
        background-color: #f4f6f9;
    }
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1039;
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
    background-color: rgb(116, 112, 112);
    transform: translate(0, 0);
    transition: all 0.5s;
    &.active {
        opacity: 0.6;
        visibility: visible;
    }
}

.footer {
    margin-left: 180px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: lightblue;
    height: 10vh;
    padding: 0px 10px;
    .footerContent {
        display: flex;
        flex-direction: row;
        width: 100%;
        [class^="menu-"] {
            padding-left: 15px;
            cursor: pointer;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            color: #0099cc;
        }

        a:active {
            color: #ffffff;
        }

        a:link {
            color: #ffffff;
        }
    }
}

.content-wrapper {
    min-height: 937px;
    margin-left: 180px;
    &:after {
        content: "";
        clear: both;
        display: block;
    }
}

.content-wrapper > .content {
    padding: 0 0.5rem;
    height: 100vh;
}

.menu {
    ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }

    li {
        padding: 8px;
        margin-bottom: 7px;
        background: #33b5e5;
        color: #ffffff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        border-radius: 5px 15px;

        &:hover {
            background-color: #0099cc;
        }
    }
}

.brandHidden {
    display: none;
}

.hidden {
    display: none;
}

.show {
    visibility: visible;
}
//********************************* ScrollBar Hidden**********************
.scroll-hidden::-webkit-scrollbar {
    width: 5px;
}

.scroll-hidden::-webkit-scrollbar-button {
    visibility: hidden;
}

.scroll-hidden::-webkit-scrollbar-thumb {
    background: #cc005f;
    border-radius: 50px;
}

.scroll-hidden::-webkit-scrollbar-track {
    border-radius: 50px;
}
//********************************* ScrollBar Hidden**********************
.hide {
    display: none;
}

.focus-input100 {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid #fc00ff;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
}

.searchBoxSlideBar {
    display: block;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 90%;
    margin-left: 5px;
    margin-bottom: 10px;
    .searchBoxSlideBar:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: inset 0 0 0 transparent;
    }
}
.subListIcon {
    margin-left: 10px;
}
.font-size {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
}
.sub-Item-Color {
    color: rgb(192, 192, 192);
}
.ml-05 {
    margin-left: 8px;
}

.social-counter {
    li {
        float: left;
        width: 20%;
        box-sizing: border-box;
        padding: 0 5px;
        margin: 10px 0 0;
    }
}
.list-label {
    li {
        a {
            display: block;
            color: #203656;
            font-size: 13px;
            font-weight: 400;
            text-transform: capitalize;
            transition: color .17s;
            cursor: pointer;
            &:before {
                content: "\27A4";
                float: left;
                color: #203656;
                font-weight: 400;
                font-family: FontAwesome;
                font-size: 6px;
                margin: 6px 3px 0 0;
                transition: color .17s;
            }
            &:hover {
                color: orange;
            }
        }
    }
    .categorieContent{
    font-weight: 400;
    list-style: none;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: 0 0;
    text-decoration: none;
}
}
