* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
* body {
  font-family: serif;
  width: 100%;
  min-height: 100vh;
  font-size: 1rem;
  overflow: hidden;
  line-height: 1.5;
  font-weight: 400;
  color: #212529;
  text-align: left;
}

.container {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

.header {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  height: 10vh;
  padding: 15px;
  width: 100%;
}
.header__btn {
  display: none;
}
.header__search input {
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  background-color: -internal-light-dark(white, #3b3b3b);
  width: 150px;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
}
.header__search .search-input {
  padding-left: 2rem;
  line-height: 1.7;
  border-radius: 50rem;
  height: calc(1.5em + .625rem + -8px);
  padding: 0.3125rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: #344050;
  width: 100%;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d8e2ef;
}
.header__search .search-input:focus {
  color: #344050;
  background-color: #fff;
  border-color: #9ec2f3;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(44, 123, 229, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(44, 123, 229, 0.25);
}
.header__menu {
  display: flex;
  flex-direction: row;
  z-index: 1000;
}
.header__menu [class^=item-] {
  padding-left: 15px;
  cursor: pointer;
}
.header__menu [class^=item-] a {
  text-decoration: none;
}
.header__menu [class^=item-] a:hover {
  color: #0099cc;
}
.header__menu [class^=item-] a:active {
  color: #ffffff;
}
.header__menu [class^=item-] a:link {
  color: #ffffff;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: lightblue;
  height: 10vh;
  padding: 0px 10px;
  width: 100%;
}
.footer__menu {
  display: flex;
  flex-direction: row;
}
.footer__menu [class^=menu-] {
  padding-left: 15px;
  cursor: pointer;
}
.footer__menu a {
  text-decoration: none;
}
.footer__menu a:hover {
  color: #0099cc;
}
.footer__menu a:active {
  color: #ffffff;
}
.footer__menu a:link {
  color: #ffffff;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

.menu ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px 15px;
}
.menu li:hover {
  background-color: #0099cc;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.modal {
  position: fixed;
  z-index: 9999;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.hidden {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.scroll-hidden::-webkit-scrollbar {
  width: 5px;
}

.scroll-hidden::-webkit-scrollbar-button {
  visibility: hidden;
}

.scroll-hidden::-webkit-scrollbar-thumb {
  background: #cc005f;
  border-radius: 50px;
}

.scroll-hidden::-webkit-scrollbar-track {
  border-radius: 50px;
}

.Loading {
  display: flex;
  justify-content: center;
  place-content: center;
  width: 25%;
}

.hide {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1440px) {
  .Dot3 {
    display: none;
  }

  .col-2 {
    height: 67vh;
    overflow: scroll;
  }

  .footer {
    position: fixed;
    bottom: 0;
  }
}
@media (max-width: 990px) {
  .edit,
.delete,
.color {
    display: none;
  }

  .EditContent:after {
    content: "...";
  }

  .EditContent__a {
    display: none;
  }

  .modal .m-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    min-height: 300px;
    height: auto;
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
    margin-top: 120px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.15), 0 10px 10px -5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  .modal .m-container.sm-modal {
    max-width: 300px;
  }

  .modal .m-container.l-modal {
    max-width: 800px;
  }

  .modal .m-container.xl-modal {
    max-width: 80%;
  }

  .modal .m-container.full-modal {
    max-width: 100%;
  }

  .modal .m-container.bounce {
    transform: scale(0.4);
    transition: all 0.3s cubic-bezier(0.75, -0.5, 0, 2.75);
  }

  .modal .m-container .m-title {
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
    color: #f2f2f2;
    font-weight: 500;
    font-size: 18px;
    flex-wrap: wrap;
  }

  .modal .m-container .m-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 25px;
    width: 25px;
    right: -7px;
    top: -7px;
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
    border-radius: 50%;
    transform: rotate(45deg);
    cursor: pointer;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.15), 0 10px 10px -5px rgba(0, 0, 0, 0.1);
  }

  .modal .m-container .m-container .m-close:after, .modal .m-container .m-container .m-close:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #262626;
    border-radius: 3px;
  }

  .modal .m-container .m-close:after {
    width: 2px;
    height: 16px;
  }

  .modal .m-container .m-close:before {
    width: 16px;
    height: 2px;
  }

  .modal .m-container .m-content {
    display: flex;
    flex-direction: row;
    border: 3px solid #FF5201;
    background-color: #fff;
    min-height: 300px;
    width: 100%;
    height: 5vh;
    margin: 0;
    padding: 20px;
    border-radius: 0 0 5px 5px;
  }
  .modal .m-container .m-content [class^=boxes-] {
    display: flex;
    border: 3px solid #FF5201;
    height: 40px;
    overflow: scroll;
  }

  .boxes-1, .boxes-2, .boxes-3, .boxes-4, .boxes-5, .boxes-6 {
    width: 75%;
  }

  .boxes-7, .boxes-8, .boxes-9, .boxes-10, .boxes-11, .boxes-12 {
    width: 75%;
  }

  .modal .m-container .m-content .m-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    flex-wrap: wrap;
  }

  .modal.active {
    visibility: visible;
    opacity: 1;
  }

  .modal.active .m-container {
    opacity: 1;
  }

  .modal.active .m-container.bounce {
    transform: scale(1);
  }

  .column1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }

  .column2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }

  .button-container .btn-modal, .Dot3 {
    cursor: pointer;
    font-family: serif;
    visibility: visible;
  }

  .col-2-R {
    width: 16.66%;
  }

  .col-8 {
    width: 50%;
  }

  .col-2-L {
    width: 33.34%;
  }

  .footer {
    position: fixed;
    bottom: 0;
  }
}
@media (max-width: 768px) {
  .container {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .header {
    justify-content: center;
    height: 5vh;
  }
  .header__logo {
    cursor: pointer;
  }
  .header__btn {
    display: flex;
    position: absolute;
    right: 10px;
    font-style: 40px;
  }
  .header__search {
    width: 100%;
  }
  .header__menu {
    width: 7rem;
    margin-right: -7rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    right: 0px;
    top: 5.5vh;
    background-color: lightpink;
    height: 60vh;
    transition: all 0.4s ease;
  }

  .aside, .right {
    width: 100% !important;
  }

  .col-2-R {
    width: 25%;
  }

  .col-8 {
    width: 75%;
  }

  .footer {
    height: 5vh;
    position: relative;
    bottom: 0;
  }
  .footer__menu [class^=menu-] {
    display: none;
  }

  .hide {
    display: none;
  }
}
@media (max-width: 480px) {
  .container {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .header {
    justify-content: center;
    height: 5vh;
  }
  .header__logo {
    cursor: pointer;
  }
  .header__btn {
    display: flex;
    position: absolute;
    right: 10px;
    font-style: 40px;
  }
  .header__search {
    width: 100%;
  }
  .header__menu {
    overflow: hidden;
    width: 7rem;
    margin-right: -7rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    right: 0px;
    top: 5.5vh;
    background-color: lightpink;
    height: 60vh;
    z-index: -1;
    transition: all 0.4s ease;
  }

  [class^=col-] {
    width: 100%;
  }

  .footer {
    position: relative;
    bottom: 0;
    height: 5vh;
    overflow: scroll;
  }
  .footer__menu [class^=menu-] {
    display: none;
  }
}
.slide {
  margin-right: 0;
}

.response {
  overflow: scroll;
  height: 60vh;
}

table,
th,
td {
  border: 1px solid #6f99a8;
}

[class^=boxes-] {
  display: none;
}

/******        Style For Form         **********/
form {
  padding: 8px;
  background: #F9F9F9;
  border: #CCC 1px solid;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 2px 2px 3px #666;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
}

form:focus-within {
  background: #F0F0F0;
  border: #3399FF 1px solid;
}

label {
  display: inline-block;
  width: 100px;
  height: 50px;
}

.input {
  background: #F9F9F9;
  padding: 4px;
  border: #CCC 1px solid;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 2px 2px 3px #666;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  outline: 0;
}

.input:hover {
  background: #F5F5F5;
  border: #92C9FF 1px solid;
}

.input:focus {
  background: #F0F0F0;
  border: #3399FF 1px solid;
}

.input:invalid {
  box-shadow: 0 0 13px -6px red;
}

button {
  background: #33b5e5;
  color: #FFFFFF;
  padding: 4px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 2px 2px 3px #666;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
}

button:active {
  background: #0099cc;
}

/******        Style For Form         **********/

/*# sourceMappingURL=style.css.map */
